<!DOCTYPE html>
<html lang="en">
<body>
    <div align="center">
        <form method="post">
            <input type="text" name="text" placeholder="enter your message text"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">add message</button>
        </form>
    </div>
    <div align="center"><h1>List of your messages</h1></div>
    <div align="center">
        <form method="post" action="filter">
            <input type="text" name="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Find</button>
        </form>
    </div>
    {{#messages}}
        <div align="center">
            <b>{{id}}</b>
            <span>{{text}}</span>
        </div>
    {{/messages}}

    <div align="center">
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
</body>
</html>