<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Registration page</title>
</head>
<body>
    Add new user
    {{#message}}
        {{message}}
    {{/message}}
    <form action="/registration" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div><br>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <div><input type="submit" value="Sign In"/> </div><br>
    </form>
    <form action="/login">
        <button type="submit">Home</button>
    </form>
</body>
</html>